nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    }

    nav .logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    }

    nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    }

    nav li {
    margin-right: 20px;
    }

    nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    }

    nav a:hover {
    background-color: white;
    color: #333;
    }